<div data-ng-include src="'views/includes/connection.html'"></div>
<section data-ng-controller="StatusController">
  <div class="page-header">
    <h1 translate>Masternodes Status</h1>
  </div>

  <div class="wraper-md" data-ng-init="getMNStatusList()">
    <table datatable="ng" ng-if="items" class="table table-sm">
      <thead>
        <tr>
          <th>IP</th>
          <th>STATUS</th>
          <th>PROTOCOL</th>
          <th>ADDR</th>
          <th>ACTIVE SINCE</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="item in items" class="item {{ item.col }}">
          <td>{{ item.ip.split(":")[0] }}</td>
          <td>
            <span ng-switch on="item.status">
              <span ng-switch-when="NEW_START_REQUIRED" class="text-danger">
                {{ item.status }}
              </span>
              <span ng-switch-when="UPDATE_REQUIRED" class="text-warning">
                {{ item.status }}
              </span>
              <span ng-switch-when="SENTINEL_PING_EXPIRED" class="text-success">
                {{ item.status }}
              </span>
              <span ng-switch-when="ENABLED" class="text-success">
                {{ item.status }}
              </span>

              <span ng-switch-else>
                {{ item.satus }}
              </span>
            </span>
          </td>
          <td>{{ item.protocol }}</td>
          <td>
            <a class="link" href="address/{{ item.payee }}">{{ item.payee }}</a>
          </td>
          <td>
            <span class="pull-right">{{ item.activeseconds }}</span>
          </td>
          <td style="background-color: #FFFFFF !important">
            <span ng-switch on="item.status">
              <span
                ng-switch-when="ENABLED"
                class="text-success glyphicon glyphicon-ok"
                aria-hidden="true"
              >
              </span>
            </span>
            <span ng-switch on="item.status">
              <span
                ng-switch-when="SENTINEL_PING_EXPIRED"
                class="text-info glyphicon glyphicon-cog"
                aria-hidden="true"
              >
              </span>
            </span>
            <span ng-switch on="item.status">
              <span
                ng-switch-when="NEW_START_REQUIRED"
                class="text-danger glyphicon glyphicon-remove"
                aria-hidden="true"
              >
              </span>
            </span>
            <span ng-switch on="item.status">
              <span
                ng-switch-when="UPDATE_REQUIRED"
                class="text-danger glyphicon glyphicon-cog"
                aria-hidden="true"
              >
              </span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
